path {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linejoin: bevel;
  marker-end: url(markers.svg#marker);
}
marker {
  overflow: visible;
}
circle {
  fill: cyan;
  r: 3;
}
.container {
  display: grid;
  grid-template-areas: "ts ts ts" "ls cpu-frame rs" "bs bs bs";
  grid-template-columns: 10rem 22rem 10rem;
  grid-template-rows: 11rem 22rem 11rem;
}
.svg {
  height: 100%;
  width: 100%;
}
.cpu-frame {
  grid-area: cpu-frame;
  word-wrap: break-word;
}

@media (max-width: 48rem) {
  #right,
  #left {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
