.contact-links,
h1,
.contact-links a {
  color: #fff;
}
strong {
  font-weight: bold;
}
.contact-links {
  align-items: center;
  justify-content: center;
  display: flex;
}
h1 {
  text-transform: uppercase;
}
p {
  text-align: center;
  padding-bottom: 2rem;
}
.contact-links a {
  text-decoration: none;
  margin: 0 1.5rem;
  padding: 0.5rem;
  border-radius: var(--border-radius-medium);
}
.contact-links a:hover {
  transform: scale(1.25);
  transition: transform 2s ease-out;
}
.contact-links img {
  height: 2.5rem;
}
.version-number-container {
  margin-top: 5rem;
}
.version-number-container p {
  font-size: 1rem;
}
@media (max-width: 48rem) {
}
