main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
object {
  display: none;
}
.greeting h1 {
  font-size: 4rem;
  margin-top: 0;

  color: var(--color-header-text);
  text-shadow: 2px 2px 8px rgba(183, 230, 235, 0.5);
  animation: textColorShift 12s linear infinite alternate;
  height: auto;
}
@keyframes textColorShift {
  0% {
    color: rgb(183, 230, 235);
    text-shadow: 0 0 6px rgba(183, 230, 235, 0.5);
  }
  25% {
    color: rgb(133, 216, 216);
    text-shadow: 0 0 16px rgba(133, 216, 216, 0.8);
  }
  50% {
    color: rgb(83, 202, 202);
    text-shadow: 0 0 24px rgba(83, 202, 202, 1);
  }
  75% {
    color: rgb(133, 216, 216);
    text-shadow: 0 0 16px rgba(133, 216, 216, 0.8);
  }
  100% {
    color: rgb(183, 230, 235);
    text-shadow: 0 0 6px rgba(183, 230, 235, 0.5);
  }
}
.about-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}
.cpu-frame {
  border-radius: 1rem;
  background: rgba(57, 64, 77, 0.35);

  border: 4px solid rgba(183, 230, 235, 0.4);
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.cpu-frame p {
  line-height: 1.55;
}
.cpu-frame strong {
  font-weight: bold;
  font-style: italic;
  color: rgb(183, 230, 235);
}

@media (max-width: 48rem) {
  .greeting h1 {
    margin-bottom: 0rem;
  }

  .about-text {
    text-align: center;
  }
}
