body{
  height:87.5vh
}
.greeting {
  height: 15rem;
}
.greeting h1 {
  text-align: center;
  font-size: 5rem;
  color: var(--color-header-text);
  font-weight: bold;
}
#container{
  display: flex; flex-direction: column;align-items: center;
  justify-content: center;
}
.about-section {
  width: 50rem;
  background-color: rgb(57, 64, 77,0.2);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
}
.about {
  padding: 1rem;
}

@media (max-width: 48rem){
  .about-section{
    width:auto;
  }
}