html{
  /*  Colors  */
 
  --color-main-bg:linear-gradient(135deg, #0a0f1a, #1b2735, #286090);
--color-header-bg:rgb(77, 77, 77);
--color-side-drawer:rgb(66, 80, 84);
--color-header-text:rgb(183, 230, 235);
--color-header-text-hover:rgb(77, 77, 77);
--color-header-bg-hover:rgb(166, 206, 216);
--color-hover:rgb(166, 206, 216);
--color-card:rgb(43,47,58);
--side-drawer-bg:rgb(34,40,49);
--i-color:#1b2735;
/* Border Radius   */
--border-radius-small:4px;
--border-radius-medium:6px;

/* Shadows */
--box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
--text-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);

/* Font Size */
--h1:2.25rem;
--h2:1.75rem;
--h3:1.17rem;
--h4:1.1rem;
--p:1.125rem;
}
header nav ul li a{
  border-bottom:3px solid var(--i) ;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding-top:6rem;
  background: var(--color-main-bg);
  color: rgb(68, 68, 68);
  height: 100%;
}
main,
#contact-links {
  color: white;
  padding: 0 1rem;
}

ul {
  list-style: none;
}

header {
  position: fixed; /* Fixed position to stay at the top */
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--color-header-bg);
  padding:  0.5rem;
  box-shadow: var(--box-shadow);
  z-index: 1100; /* Ensure header stays above other elements */
  border-radius: var(--border-radius-medium);
  display: flex; /* Missing display flex */
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#page-logo img {
  height: 2rem;
  margin-right: 0.5rem;
}

header ul {
  display: flex;
}

header li {
  margin: 0 0.5rem;
}

header a {
  text-decoration: none;
  color: var(--color-header-text);
  font-size: 1.25rem;
  padding: 0.75rem;
  text-shadow: var(--text-shadow);
  border-radius: var(--border-radius-medium);
  transition: background-color 0.4s ease;
}

header nav a:hover {
  color: var(--color-header-text-hover);
  background-color: var(--color-header-bg-hover);
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: none; /* Hide by default, shown with media queries */
  flex-direction: column;
  justify-content: space-around;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: white;
}

#side-drawer {
  width: 100%;
  height: 100vh;
  background-color: var(--side-drawer-bg);
  position: fixed;
  top: 2rem;
  right: -100%; /* Hide initially */
  z-index: 1050; /* Ensures it's above other elements */
  transition: right 0.3s ease-in-out;
}

#side-drawer.open {
  right: 0;
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-header-bg);
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  margin: 0;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-drawer li {
  margin: 1rem 0;
  font-weight: bold;
 
}

#side-drawer a {
  color: var(--color-header-text);
  font-size: 2rem;
  text-decoration: none;
  
  padding: 0.45rem;
  border-radius: var(--border-radius-medium);
  transition: background-color 0.4s ease;
}

#side-drawer nav a:hover {
  color: var(--color-header-text-hover);
  background-color: var(--color-header-bg-hover);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
p{
  font-size: var(--p);
}
.active{
  
  font-weight: bold;
  border-bottom:5px solid var(--i-color)
}

@media (max-width: 48rem) {
  header nav {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  main h1 {
    font-size: var(--h1);
  }
}
