.tab-list {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
}
.gap {
  height: 1.5rem;
}
a {
  color: white;
}
.tab-container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(30, 30, 30);
}
.tab-button {
  padding: 1rem;
  border: none;
  background: none;
  color: rgb(204, 204, 204);
  text-align: left;
  cursor: pointer;
  border-left: 4px solid transparent;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
}

.sub-heading {
  font-style: italic;
}
.tab-button.active {
  border-left: 4px solid rgb(30, 144, 255);
  font-size: 1rem;
  font-weight: bold;
}
.tab-button:hover,
.tab-button.active {
  background-color: rgb(51, 51, 51);
  color: #fff;
}
.tab-button:hover {
  border-left: 4px solid rgb(1, 94, 30);
}
.tab-content {
  flex: 1;
  padding: 1.5rem;
}
.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}
