ul {
  list-style: none;
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
i {
  padding-right: 0.5rem;
  font-size: 3rem;
}
img {
  height: 3rem;
  width: 3rem;
  padding-right: 1rem;
}
